{% extends 'user/base.html' %}
{% block title %}
  Recovered Items
{% endblock %}
{% block content %}
<style>
  body {
    background-color: #ececec;
  }
  .reduced-card-size {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .reduced-card-size .card-header {
    padding: 5px 10px;
    font-size: 1.1em;
  }
  
  .reduced-card-size .card-body {
    padding: 10px;
  }
  .reduced-card-size:hover {
    transform: translateY(-5px); /* Lift the card on hover */
    box-shadow: 0 6px 15px rgba(0,0,0,0.15); /* Enhanced box shadow on hover */
  }
  
  .reduced-card-size .card-title {
    font-size: 1.2em;
  }
  
  .reduced-card-size .card-text {
    font-size: 0.9em;
  }
  .card {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  .reduced-card-size .btn {
    padding: 5px 10px;
    font-size: 0.85em;
  }
  .no-recovered-items a:hover {
    text-decoration: underline; /* Underline link on hover */
  }
  .status-recovered {
    background-color: #2ecc71; /* Green */
    color: white; /* White text on green background */
  }
</style>
<h2 style="text-align: center;">Recovered Items</h2>
{% if recovered_crimes %}
      <div class="row">
        {% for crime in recovered_crimes %}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 reduced-card-size">
              <div class="card-body">
                <h5 class="card-text"><strong>Place of Incident:</strong> {{ crime.incident_location }}</h5>
                <h5 class="card-text"><strong>Description:</strong> {{ crime.incident_details }}</h5>
                <h5 class="card-text"><strong>Status:</strong>
                  <span class="status status-recovered">{{ crime.crime_status }}</span>
                </h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
{% else %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-4 reduced-card-size">
      <div class="card-body">
        <h4><i class="bi bi-database-x"></i> No recovered items found.</h4>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}