{% extends 'user/base.html' %}
{% block title %}
  Recovered Items
{% endblock %}
{% block content %}
<style>
  body {
    background-color: #ececec;
  }
  .reduced-card-size {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .reduced-card-size .card-header {
    padding: 5px 10px;
    font-size: 1.1em;
  }
  
  .reduced-card-size .card-body {
    padding: 10px;
  }
  .reduced-card-size:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  .reduced-card-size .card-title {
    font-size: 1.2em;
  }
  
  .reduced-card-size .card-text {
    font-size: 0.9em;
  }
  .card {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  .reduced-card-size .btn {
    padding: 5px 10px;
    font-size: 0.85em;
  }
</style>
<h2 style="text-align: center;">Recovered Items</h2>
{% if thefts %}
      <div class="row">
        {% for theft in thefts %}
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mb-4 reduced-card-size">
              <div class="card-body">
                <h5 class="card-text"><strong>Place of Incident:</strong> {{ theft.place_of_theft }}</h5>
                <h5 class="card-text"><strong>Street:</strong> {{ theft.street_address }}</h5>
                <h5 class="card-text"><strong>Description:</strong> {{ theft.stolen_property }}</h5>
                <h5 class="card-text"><strong>Value of Property:</strong> {{ theft.value }}</h5>
                <h5 class="card-text" style="color: green;"><strong>Status:</strong> {{ theft.theft_status }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
{% else %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-4 reduced-card-size">
      <div class="card-body">
        <h4><i class="bi bi-database-x"></i> No recovered items found.</h4>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}