{% extends "user/base.html" %} {% block title %} Register {% endblock %} {%
block content %}
<body class="my-login-page">
  <section class="h-100">
    <div>
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages%}
          <div
            class="alert alert-{{ category }} alert-dismissible fade show"
            role="alert"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
            {{ message }}
          </div>
          {% endfor %} {% endif%} {% endwith %}
          <div class="card fat">
            <div>
              <h4>Account Activation</h4>
              <p>
                Welcome to E-security. Thank you for helping improve security.
                Fill in the details below.
              </p>
              <form method="POST">
                <div class="mb-3">
                  <label for="fullname" class="form-label">Full Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    name="fullname"
                    placeholder="Enter fullname"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="idno" class="form-label"
                    >Identification Number:</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="idno"
                    name="idno"
                    placeholder="IDNO"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="phonenumber" class="form-label"
                    >Phone Number:</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="phonenumber"
                    name="phonenumber"
                    placeholder="Phone Number"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="residence" class="form-label"
                    >Place of Residence:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="residence"
                    name="residence"
                    placeholder="Residence"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="gender" class="form-label">Gender:</label>
                  <select
                    class="form-select"
                    id="gender"
                    name="gender"
                    required
                  >
                    <option disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div align="center">
                  <button type="submit" class="btn btn-primary w-100 btn-sm px-3 py-2">
                    Update User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

{% endblock %}
