{% extends "user/base.html" %} {% block title %} SignIn {% endblock %} {% block
content %}
<body class="my-login-page">
  <section class="h-100">
    <div>
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages%}
          <div
            class="alert alert-{{ category }} alert-dismissible fade show"
            role="alert"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
            {{ message }}
          </div>
          {% endfor %} {% endif%} {% endwith %}
          <div class="card fat">
            <div class="card-body">
              <h5 class="card-title" align="center">User Login</h5>
              <form method="POST">
                <div id="msg">{{ msg }}</div>
                <div class="form-group">
                  <label for="username" class="form-label">Username</label>
                  <input
                    id="username"
                    type="username"
                    class="form-control"
                    name="username"
                    placeholder="Username"
                    required
                  />
                </div>
                <br />
                <div class="form-group">
                  <label for="password" class="form-label">Password </label>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                    required
                    data-eye
                  />
                </div>
                <p style="text-align: left;">
                  <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                </p>
                <div class="form-group m-0" align="center">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block w-100 btn-sm px-3 py-2"
                    href="{{ url_for('users.user_dashboard') }}"
                  >
										<i class="bi bi-box-arrow-in-right"></i>
                    Login
                  </button>
                </div>
                <div class="mt-4 text-center">
                  Don't have an account?
                  <a href="{{ url_for('users.sign_up') }}">Register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}
