{% extends 'admin/layout.html' %}
{% block content %}
<style>
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .search-input {
        width: 300px; /* Adjust the width as needed */
    }
    .clickable-row:hover {
        background-color: #f5f5f5;
    }
</style>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages%}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endfor %} {% endif%} {% endwith %}
    <br>
    <form method="GET" action="{{ url_for('admins.reports') }}" class="search-form">
        <div class="input-group search-input">
            <input type="text" name="search_query" class="form-control" placeholder="Search">
            <div class="input-group-append ms-2">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>
{% if crimes %}
  <table class="table table-striped table-hover">
    <h2 style="text-align: center;">Crimes Reported</h2>
    <thead>
        <tr>
            <th scope="col">No. <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Date of Incident <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Reporter <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Location <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Time <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Description <i class="bi bi-arrow-down-up"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for crime in crimes %}
            <tr  onclick="crimeDetails('{{ crime.crime_id }}')" style="cursor: pointer;">
                <td>{{ loop.index }}</td>
                <td>{{ crime.date_of_incident }}</td>
                <td>{{ crime.issued_by }}</td>
                <td>{{ crime.incident_location }}</td>
                <td>{{ crime.time_of_incident }}</td>
                <td>{{ crime.incident_nature }}</td>
            </tr>
        {% endfor %}    
    </tbody>
  </table>
{% else %}
<table class="table table-striped table-hover">
    <h2 style="text-align: center;">Crimes Reported</h2>
    <thead>
        <tr>
            <th scope="col">No. <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Date of Incident <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Reporter <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Location <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Time <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Time Reported <i class="bi bi-arrow-down-up"></i></th>
            <th scope="col">Action <i class="bi bi-arrow-down-up"></i></th>
        </tr>
    </thead>
</table>
<h3 style="text-align: center;"><i class="bi bi-database-x"></i> No crime reports to display.</h3>
{% endif %}


<script>
    function crimeDetails(crime_id) {
        window.location.href = '/admin/crime_details/' + crime_id;
    }
</script>
{% endblock content %}