{% extends "base.html" %}
{% block title %}
  About Us
{% endblock %}
{% block content %}

<div class="about-container">
  <div class="row">
    <div class="column">
      <div class="card">
        <h2>About Us</h2>
        <p>We are committed to creating a safer community for everyone. 
          E-Security is a confidential online system designed to empower you to report crimes and suspicious activity directly to law enforcement. 
          Our user-friendly platform makes reporting crimes easier and faster than ever before.</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h2>Our Mission</h2>
        <p>Leveraging technology to revolutionize crime reporting. 
          We offer a secure and innovative platform for efficient reporting and enhanced public safety.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Key Features</h3>
        <ul>
          <li>Simple and secure reporting process</li>
          <li>Option to report anonymously</li>
          <li>Upload photos and videos as evidence (optional)</li>
          <li>Secure platform with encrypted data transmission</li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Benefits of Using E-Security</h3>
        <ul>
          <li>Faster response times from law enforcement</li>
          <li>Increased crime solving rates</li>
          <li>Improved public safety for your community</li>
          <li>Option to see recovered items</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="privacy">
    <div class="card">
      <h3>Your Privacy Matters</h3>
      <p>We understand the importance of confidentiality when reporting a crime. E-Security utilizes robust security measures to ensure your information is protected. All communication is encrypted, and we only collect the data necessary for effective investigations.</p>
      <p>Together, we can make a difference. Report crime and suspicious activity through E-Security today.</p>
    </div>
  </div>
</div>


{% endblock %}