{% extends "base.html" %}
{% block title %}
SignUp
{% endblock %}
{% block content %}
<body class="my-login-page">
	<section>
		<div>
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title" align="center">Register</h4>
							<form method="POST">			
								<div class="form-group">
									<label for="username">Username</label>
									<input id="username" type="text" class="form-control" name="username" required>
								</div>
                <br>
								<div class="form-group">
									<label for="email">Email Address</label>
									<input id="email" type="email" class="form-control" name="email" required>
								</div>
                <br>
								<div class="form-group">
									<label for="password1">Password</label>
									<input id="password1" type="password" class="form-control" name="password1" required data-eye>
								</div>
                <br>
                <div class="form-group">
									<label for="password2">Confirm Password</label>
									<input id="password2" type="password" class="form-control" name="password2" required data-eye>
								</div>
                <br>
								<div class="form-group m-0" align="center">
									<button type="submit" class="btn btn-primary btn-block"  href="{{ url_for('users.register') }}">
									Register
									</button>
								</div>
								<div class="mt-4 text-center">
									Already have an account? <a href="{{ url_for('users.sign_in') }}">Login</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
</body>
{% endblock %}