{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
        <section id="profile" class="content-section active" >
            {% if articles %}
              <h3>Latest News</h3>
                <div class="article-grid">
                {% for article in articles %}
                  <div class="article-column">
                      <a href="{{ article['url'] }}" target="_blank">
                          <img src="{{ article['urlToImage'] }}" alt="{{ article['title'] }}" class="article-image">
                      </a>
                      <h2>{{ article['title'] }}</h2>
                      <p>{{ article['description'] }}</p>
                  </div>
                {% endfor %}
              </div>
            {% else %}
                <p>No News found! Please try again later</p>
            {% endif %}
        </section>
{% endblock %}


